
body {

    background-color: #e8f1f4;
    /*border-radius: 15px!important;*/
 
}
.me-transparency{
    opacity: 0.7!important;
}
.me-no-transparency{
    opacity: 1!important;
}
.me-round-no-shadow{
    border-radius: 10px!important;
}
.me-round{
    border-radius: 10px!important;
    -moz-box-shadow:0px 3px 7px #31332C!important; -webkit-box-shadow:0px 3px 7px #31332C!important; box-shadow:0px 3px 7px #31332C!important;
}
.me-index-round{
    border-radius: 0 0 20px 20px!important;
}
.me-shadow{
    transition:all 2s linear 0s;
    -moz-box-shadow:0px 10px 14px #31332C!important; -webkit-box-shadow:0px 10px 14px #31332C!important; box-shadow:0px 10px 14px #31332C!important;
    border-radius: 25px!important;
    transition: transform 0.7s;!important;
     
}
.me-shadow:hover{
    /*-webkit-transition-duration: 2s!important;*/
    -moz-box-shadow:0px 3px 7px #31332C!important; -webkit-box-shadow:0px 3px 7px #31332C!important; box-shadow:0px 3px 7px #31332C!important;
    /*top:  15px!important;*/
    /*bottom:  15px!important;*/
    border-radius: 25px!important;
    cursor: pointer;!important;
    transform: translate(0,1.5em);!important;

}
.me-header-shadow{
    transition:all 2s linear 0s;
    -moz-box-shadow:0px 3px 4px #31332C!important; -webkit-box-shadow:0px 3px 4px #31332C!important; box-shadow:0px 3px 4px #31332C!important;
    border-radius: 20px!important;
    transition: transform 0.8s;!important;
}
.me-header-shadow:hover{
    /*-webkit-transition-duration: 2s!important;*/
    -moz-box-shadow:0px 2px 5px #31332C!important; -webkit-box-shadow:0px 2px 6px #31332C!important; box-shadow:0px 2px 5px #31332C!important;
    /*top:  15px!important;*/
    /*bottom:  15px!important;*/
    border-radius: 20px!important;
    cursor: pointer;!important;
    transform: translate(0,0.5em);!important;

}

.me-more-small-shadow{
    transition:all 2s linear 0s;
    -moz-box-shadow:0px 3px 4px #31332C!important; -webkit-box-shadow:0px 3px 4px #31332C!important; box-shadow:0px 3px 4px #31332C!important;
    border-radius: 20px!important;
    transition: transform 0.7s;!important;

}
.me-more-small-shadow:hover{
    /*-webkit-transition-duration: 2s!important;*/
    -moz-box-shadow:0px 2px 5px #31332C!important; -webkit-box-shadow:0px 2px 6px #31332C!important; box-shadow:0px 2px 5px #31332C!important;
    /*top:  15px!important;*/
    /*bottom:  15px!important;*/
    border-radius: 20px!important;
    cursor: pointer;!important;
    transform: translate(0,1em);!important;

}
.me-small-shadow{
    transition:all 2s linear 0s;
    -moz-box-shadow:0px 8px 12px #31332C!important; -webkit-box-shadow:0px 8px 12px #31332C!important; box-shadow:0px 8px 12px #31332C!important;
    border-radius: 20px!important;
    transition: transform 0.7s;!important;

}
.me-small-shadow:hover{
    /*-webkit-transition-duration: 2s!important;*/
    -moz-box-shadow:0px 2px 5px #31332C!important; -webkit-box-shadow:0px 2px 6px #31332C!important; box-shadow:0px 2px 5px #31332C!important;
    /*top:  15px!important;*/
    /*bottom:  15px!important;*/
    border-radius: 20px!important;
    cursor: pointer;!important;
    transform: translate(0,1em);!important;

}
 
.m-padded-mini {
    padding: 0.2em !important;
}

.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.color1{
    color: #692f47;!important;
    background-color: #e4bb5a;!important;
}

.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/*-------text -----*/

.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}

/*-----margin------*/
.m-margin-all{
    margin:2em !important;
}
.m-margin-left{
    margin-left:0em !important;
}
.m-margin-top-small {
    margin-top:0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 3em !important;
}

.m-margin-left-right{
    margin-left: 25px;
    margin-right: 25px;
}
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;

}
.m-margin-bottom{


}
.m-margin-bottom-big{
    margin-bottom: 2em !important;
}

/*-----opacity------*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}
/*------position---*/

.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}

/*------display------*/
.m-inline-block {
    display: inline-block !important;
}


/*-----container*/

.m-container {
    max-width: 72em !important;
    margin: auto !important;
}
.me-container {
    max-width: 90% !important;
    margin-left: 50px !important;

}
.me-small-container {
    /*max-width: 90% !important;*/
    /*margin: 2px !important;*/
    /*align-content: center !important;*/
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

/*------shadow------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*------positon-----*/

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}


/*-----color-----*/
.m-black {
    color: #333 !important;
}
.m-teal {
    color: #00B5AD !important;
}


.m-center{
    margin:0 auto!important;
    /*text-align: center!important;*/
}


.m-mobile-show {
   display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}